.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 20px;
}

.gnavi li {
  background-color: #c0d1f7;
  padding: 5px 10px;
}

.gnavi li + li {
  margin-top: 10px;
}

code {
  background-color: rgb(245, 195, 214);
  text-decoration: none;
  display: inline-block;
  padding: 2px;
}

button {
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

input[type="text"], input:not([type]) {
  padding: 5px 10px;
}

.subComponent {
  outline: 5px dashed darkkhaki;
}